*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.body{
    background: #f1f1f1;
}

.sub{
    margin-top: -100px;
    top: 14%;
    left: 41%;
    text-align: center;
}

.sub a{
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    transition: 0.4s;
    border-radius: 50px;
}

.sub a:hover{
    background: #112c47;
}
 
.img{
    margin-top: -80px;
    text-align: center;
}

.img2{
    text-align: center;
}

.map{
    text-align: center;
    margin-top: 50px;
}

.titulo{
    margin-top: -50px;
    text-align: center;
}

.boneca{
    
    text-align: center;
}

.coperi{
    text-align: center;
    position: relative;
    margin-top: 750px;
}

.inicio{
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
}

button{
    height: 30px;
    width: 200px;
}