*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.body{
    background: #f1f1f1;
}

.nome_emp{
    text-align: center;
}

.sub{
    position: absolute;
    top: 14%;
    left: 41%;
    align-items: center;
}

.sub a{
    display: inline-flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    transition: 0.4s;
    border-radius: 50px;
}

.sub a:hover{
    background: #112c47;
}

 
.img{
    margin-top: -80px;
    text-align: center;
}

.img2{
    text-align: center;
}